
body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: Times New Roman;
}


#header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
}


#nav {
    background-color: #333; 
    overflow: hidden;
    text-align: center;
    padding: 0.5em 0;
}

#nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background-color 0.3s;
}

#nav a:hover {
    background-color: #575757;
    color: red;  
}

#vertical-nav {
    width: 20%;
    float: left;  
    background-color: #f2c8c8;
    padding: 1em 0;
    box-sizing: border-box;
    height: 100vh;  
}

#vertical-nav a {
    display: block;
    color: rgb(27, 1, 1);
    text-decoration: none;
    padding: 1em;
    transition: background-color 0.3s;
}

#vertical-nav a:hover {
    background-color: #575757;
}
.row {  
    display: flex;
    flex-wrap: wrap;
}
  
.side {
    float:left;
    background-color: #eed9d9;
    padding: 20px;
    width: 40%;
    box-sizing: border-box;
}
.main {
    float: right;
    padding: 20px;
    width: 60%;
    background-color: #f4e5e5;    
    box-sizing: border-box;
}


#section {
    background-color: #f2f2f2; 
    padding: 2em;
    margin-top: 1em;
    border: 1px solid #ddd;
    border-radius: 25px;
    
}

#section1 {
    width: 80%;
    float: left;  
    padding: 2em;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

article {
    float:left;
    padding: 20px;
    background-color: #edd6d6;
    flex: 1;
    width: auto;
    height: 300px;
}

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}

